{% extends 'self_study_app/base.html' %}
{% load static %}
{% block content %}
    
    <div class="container container-scroll py-5">
        <div class="row mb-4 mb-lg-5 mt-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold text-success mb-2">{{ object.title }}</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8">
                {{ object.content | safe }}
            </div>
        </div>
    </div>
    </div>

{% endblock %}