{% extends 'self_study_app/base.html' %}
{% load static %}

{% block content %}



    <div class="container py-5">
        <div class="row mb-4 mt-5 mb-lg-5">
            <div class="col-10 text-center mx-auto">
                <h2 class="fw-bold text-success mb-2">Добро пожаловать на главную страницу Happy English – твоего
                    надежного компаньона в увлекательном мире
                    изучения английского языка!</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">

                <p><span style="font-size:20px"><em>Присоединяйся к нам, чтобы погрузиться в захватывающее приключение обучения английскому языку! </em></span>
                </p>

                <p><span style="font-size:20px"><em>Happy English &ndash; это не просто платформа, это твой виртуальный путеводитель в мир грамматики, разговорной практики и культурного погружения.</em></span>
                </p>

                <p><span style="font-size:20px"><strong>Что мы предлагаем:</strong></span></p>

                <ol>
                    <li>
                        <p><span style="font-size:20px"><strong>Увлекательные Уроки:</strong> От простых основ до продвинутых тем &ndash; наши уроки разработаны так, чтобы сделать изучение английского веселым и интересным. Насладись динамичными видеоуроками, интерактивными заданиями и проверкой знаний.</span>
                        </p>
                    </li>
                    <li>
                        <p><span style="font-size:20px"><strong>Разнообразные Ресурсы:</strong> Happy English предоставляет широкий спектр образовательных материалов &ndash; от текстов и аудиозаписей до игр и тестов. Все, что нужно для полноценного погружения в языковую среду.</span>
                        </p>
                    </li>
                    <li>
                        <p><span style="font-size:20px"><strong>Сообщество Обучающихся:</strong> Общение и обмен опытом с другими студентами &ndash; важная часть обучения. Присоединяйся к нашему дружелюбному сообществу, делись своими успехами и получай мотивацию от успехов других.</span>
                        </p>
                    </li>
                    <li>
                        <p><span style="font-size:20px"><strong>Практика в Реальной Жизни:</strong> Мы верим, что язык лучше всего учить, применяя его на практике. У нас ты найдешь разнообразные сценарии и ролевые игры для тренировки разговорных навыков.</span>
                        </p>
                    </li>
                    <li>
                        <p><span style="font-size:20px"><strong>Персонализированный Подход:</strong> Happy English адаптируется к твоим потребностям. Выбирай уровень сложности, темы, которые тебе интересны, и обучайся в удобное время.</span>
                        </p>
                    </li>
                </ol>

                <p><span style="font-size:20px"><em><strong>Начни свое учебное приключение с Happy English &ndash; где изучение английского становится радостью!</strong></em></span>
                </p>


            </div>
        </div>
    </div>
    </div>

{% endblock %}