{% extends 'users/base.html' %}
{% load static %}
{% block content %}

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold text-success mb-2">Happy English - Английский для всех</h2>
                    <h3 class="fw-bold">Добро пожаловать</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg>
                            </div>
                            <form method="post">
                                {% csrf_token %}


                                <div class="mb-3"><input class="form-control" type="email" name="email"
                                                         placeholder="Email" style="margin-right: 95px;" required=""
                                                         id="id_email" autofocus="" autocapitalize="none"
                                                         autocomplete="username"></div>

                                <div class="mb-3"><input class="form-control" type="text" name="first_name"
                                                         placeholder="Имя" style="margin-right: 95px;" required=""
                                                         maxlength="150" id="id_first_name"></div>

                                <div class="mb-3"><input class="form-control" type="text" name="last_name"
                                                         placeholder="Фамилия" style="margin-right: 95px;" required=""
                                                         maxlength="150" id="id_last_name"></div>

                                <div class="mb-3"><input class="form-control" type="password" name="password1"
                                                         placeholder="Пароль" id="id_password1"
                                                         autocomplete="current-password" required=""
                                                         aria-describedby="id_password1_helptext"></div>

                                <div class="mb-3"><input class="form-control" type="password" name="password2"
                                                         placeholder="Повторите пароль" id="id_password2"
                                                         autocomplete="current-password" required=""
                                                         aria-describedby="id_password2_helptext">
                                    <span class="helptext" id="id_password2_helptext">Для подтверждения введите, пожалуйста, пароль ещё раз.</span>
                                </div>
                                <div class="mb-3"><span class="helptext" id="id_password1_helptext"></span></p>
                                    <ul>
                                        <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                                        <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                                        <li>Пароль не должен быть слишком простым и распространенным.</li>
                                        <li>Пароль не может состоять только из цифр.</li>
                                    </ul>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">
                                        Зарегистрироваться
                                    </button>
                                </div>
                                {#                                <p class="text-muted">Forgot your password?</p>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}