{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <div class="mx-auto p-2 mt-5">
                        <h1 class="h3 mb-3 fw-normal">Подтверждение аккаунта:</h1>
                        <hr class="my-4">
                        <main class="w-100 m-auto">
                            <p class="h4 mb-3 fw-normal">Ваш аккаунт успешно создан, но еще не активирован.</p>
                            <p class="h4 mb-3 fw-normal">На электронную почту вам было отправлено письмо со ссылкой для
                                активации
                                аккаунта, пожалуйста перейдите в вашу почту для подтверждения аккаунта.</p>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
